[
  {
    "deviceId": "YOUR_DEVICE_ID_HERE",
    "deviceInfo": {
      "deviceType": "DEVICE_AIR_CONDITIONER",
      "modelName": "YOUR_MODEL_NAME_HERE",
      "alias": "Living Room AC",
      "reportable": true
    }
  }
]
